<html>
    <head>
    	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}estilo.css" />
    	<meta charset="utf-8"/>
    	<title>No se ha podido activar su cuenta</title>
    </head>
    <body>
    		<br/>
    		{% autoescape off %}
    		Estas recibiendo este correo porque has pedido un cambio de contraseña para su cuenta de usuario en {{ site_name }}.
    		Por favor de ir a la siguiente pagina y escoger una nueva contraseña:
			{% block reset_link %}
			{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
			{% endblock %}

			Su nombre de usuario, en caso de que lo haya olvidado: {{ user.username }}

			¡Gracias por usar nuestro sitio!

			El equipo {{ site_name }}.

			{% endautoescape %}
</body>
</html>


