<html>
    <head>
    	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}estilo.css" />
    	<meta charset="utf-8"/>
    	<title>Reestablecer contraseña</title>
    </head>
    <body>
    	<center>
    		<br/><br/><br/>
    		{% block title %}<h1>Reestablecer contraseña</h1>{% endblock %}
			{% block content %}
			<p>Le hemos enviado por correo instrucciones para asignar su contraseña al correo electronico que registró.</p>
			<p>Deberia recibirlo pronto.</p>
			{% endblock %}
    	</center>
</body>
</html>

