<html>
    <head>
    	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}estilo.css" />
    	<meta charset="utf-8"/>
    	<title>No se ha podido activar su cuenta</title>
    </head>
    <body>
    	<center>
    		<br/>
			{% block title %}Password reset{% endblock %}

			{% block pagetitle %}Password reset{% endblock %}

			{% block content %}
			<p>Olvidó su contraseña? Escriba su correo electronico, y le enviaremos un correo con instrucciones para asignar una nueva contraseña.</p>

			<form action="" method="post">
			{% csrf_token %}
 			{{ form.email.errors }}
			<p><label for="id_email">Correo Elextronico: </label> {{ form.email }} <input class="button" type="submit" value="Reestablecer contraseña" /></p>
			</form>
			{% endblock %}
    	</center>
</body>
</html>

