<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}estilo.css" />
      <meta charset="utf-8"/>
      <title>Reestablecer Contraseña</title>
    </head>
<body>
  <center>
    <br/><br/><br/>
    {% block title %}Password reset{% endblock %}
    {% block pagetitle %}Password reset{% endblock %}
    {% block content %}
    {% if validlink %}
    <p>Favor de entrar su nueva contraseña dos veces para poder verificar que se escribio correctamente</p>
      <form action="" method="post">
        {% csrf_token %}
        <table>
        <tr>
          <td>{{ form.new_password1.errors }}<label for="id_new_password1">Nueva Contraseña:</label></td>
          <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>{{ form.new_password2.errors }}<label for="id_new_password2">Confirmar Contraseña:</label></td>
          <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
          <br/>
        <td><input class="button" type="submit" value="Cambiar mi contraseña" /></td>
        </tr>
        </table>
    </form>
    {% else %}
    <h1>Contraseña cambiada exitosamente</h1>
    <p>El enlace de la contraseña reestablecida fue invalida, posiblemente porque ya ha sido usado. Por favor reestablesca una nueva contrseña.</p>
    {% endif %}
    {% endblock %}
  </center>
</body>
</html>
