{% load staticfiles %}
{% load i18n %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}estilo.css" />
    <title>Agregar Perfil</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/widgets.css"/>

<script type="text/javascript">
    window.__admin_media_prefix__ = "{{ STATIC_URL }}admin/";
</script>
<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/actions.js"></script>
{{ form.media }}

</head>
<body>{% csrf_token %}
	<a href="{% url index %}" >home</a>	
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit"/>
    </form>
</body>
</html>
