<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" /> 
		<title>Cantares Editores</title> 
		<meta name="keywords" content="Cantares Editores" /> 
		<meta name="description" content="Editorial Cantares, para los que tienen hambre de Dios" /> 
		<meta name="Author" content="Hikari Web Design Group" /> 
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cantares.css" />
    	<script src="{{ STATIC_URL }}menu.js" type="text/javascript"></script>

	</head>
	<body>
		<aside>
			<a href="{% url indexcantares %}"><img class="imagen" src="{{ STATIC_URL }}images\cantaresindex.png" alt="Cantares Index"/></a><br/>
			</br><hr/>
			Visita nuestros sitios web:
			</br></br>
			<a href="{% url index %}"><img class="imagen" src="{{ STATIC_URL }}images\ccm1.png" alt="{{ STATIC_URL }}Cantares Index" /></a>
			<a href="{% url indexha %}"><img class="imagen" src="{{ STATIC_URL }}images\ha.png" alt="{{ STATIC_URL }}CCM Index" /></a>
			<a href="{% url indexnvpem %}"><img class="imagen" src="{{ STATIC_URL }}images\nvpem.png" alt="Instituto Biblico Index" /></a>
		</aside>
		<div id="content">
			<div class = "titular">
				<table>
					<tr>
						<td>
						<h1>{Cantares Editores}</br> Para quien tiene hambre de Dios</h1> 
						</td>
						<td>
						{% if accedio %}
							<a href="{% url django.contrib.auth.views.logout %}" class="button"> Logout </a>
							{% if secre %}
							<a href="{% url home_secre %}" class="button">Sistema</a>
							{% else %}
							<a href="{% url consultas %}" class="button">Mi Cuenta</a>
							{% endif %}
							{% else %}
							<a href="{% url login %}" class="button"> Acceder</a>
							<a href="{% url registration.views.register %}"  class="button"> Registrarse </a>
							{% endif %}
						</td>
					</tr>
				</table>
			</div>
			<div id="sse2">
			  <div id="sses2">
    			<ul>
      				<li><a href="{% url indexcantares %}">Inicio</a></li>
      				<li><a href="{% url aboutic %}">Acerca de</a></li>
      				<li><a href="{% url familia %}">Familiares</a></li>
      				<li><a href="{% url terapia %}">Terapéuticos</a></li>
      				<li><a href="{% url esbi %}">Estudio Bíblico</a></li>
      				<li><a href="{% url disi %}">Discipulado</a></li>
      				
    			</ul>
  				</div>
			</div>
    		<div class="texto">
			<h1>Libros para la Familia</h1><hr/>
		<p>	Welcome to Christian Comunity of Morelia! (CCM) We’re glad you’re here. We want you to know CCM is a place where it’s okay to not be okay. 
		It’s a place where you can be accepted as you are, experience radical grace, and heal from your past hurts.</p>
	</br>

		</div>


		</div>


	</body>
</html>